<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sl.java00.homework.separatereadwritev1.mapper.TestMapper">

    <resultMap id="testResultmap" type="com.sl.java00.homework.separatereadwritev1.model.TestModel">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
    </resultMap>
    
    <sql id="FIELDS">
        id, name
    </sql>

    <insert id="save">
        INSERT INTO test (
        `id`,
        `name`
        ) values (
        #{id},
        #{name}
        )
    </insert>

    <select id="selectById" parameterType="Integer" resultMap="testResultmap">
        SELECT
        <include refid="FIELDS" />
        FROM test
        WHERE id = #{id}
    </select>

    <select id="selectAll" resultMap="testResultmap">
        SELECT
        <include refid="FIELDS" />
        FROM test
    </select>

</mapper>
